{% extends 'crm/db_base.html' %}

{% block dbmanage_content %}

<style>
    @media screen and (max-width: 992px) {
        .table_wrap {
            width: 100%;
            overflow: auto;
        }

        .table_area {
            width: 100%;
            min-width: 400px;
        }
    }
</style>

<div class="container mt-3">
    <form method="post">

        <button
            class="text-white mb-3 bg-yellow-600 hover:bg-yellow-700 font-medium rounded-lg text-sm px-3 py-1 text-center">
            업데이트
        </button>



        <div class="table_wrap ">
            <div class="table_area">
                <table class="border-collapse border border-slate-400 w-full  text-xs suit-font">
                    <tr>
                        <th class="border border-slate-300 py-2 text-center">DB 종류</th>
                        <th class="border border-slate-300 py-2 text-center">상태값 셋팅</th>
                    </tr>
                    <tr>
                        <td class="border border-slate-300 py-2 text-center">분양 DB 상태값</td>
                        <td class="border border-slate-300 py-2 text-center px-3">
                            <div>
                                <input type="text" name="estate_status"
                                    class="block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    value="{{ result.fs_estate_status }}">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="border border-slate-300 py-2 text-center">상태값 색상지정</td>
                        <td class="border border-slate-300 py-2 text-center px-3">
                            <div>
                                <input type="text" name="estate_status_color"
                                    class="block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    value="{{ result.fs_estate_status_color }}">
                            </div>
                        </td>
                    </tr>
                    <!-- <tr>
                        <td class="border border-slate-300 py-2 text-center">진행중 현장</td>
                        <td class="border border-slate-300 py-2 text-center px-3">
                            <div>
                                <input type="text" name="estate_list"
                                    class="block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    value="{{ result.fs_estate_list }}">
                            </div>
                        </td>
                    </tr> -->

                    <tr>
                        <td class="border border-slate-300 py-2 text-center">마케터 리스트</td>
                        <td class="border border-slate-300 py-2 text-center px-3">
                            <div class="flex">
                                <span class="flex justify-center items-center mr-2">FB,</span>

                                <input type="text" name="marketer_list"
                                    class="block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs"
                                    value="{{ result.fs_marketer_list }}">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>


    <div class="mt-4">
        <button
            class="text-white mb-3 bg-emerald-600 hover:bg-emerald-800 font-medium rounded-lg text-sm px-3 py-1 text-center add_site_open">
            현장 추가
        </button>

        <button
            class="text-white mb-3 bg-red-600 hover:bg-red-800 font-medium rounded-lg text-sm px-3 py-1 text-center delete_site"
            value="site_delete">
            삭제
        </button>

        <button
            class="text-white mb-3 bg-indigo-500 hover:bg-indigo-700 font-medium rounded-lg text-sm px-3 py-1 text-center update_site"
            value="site_update">
            수정
        </button>

        <div class="flex mb-3 create_site_area" style="display:none;">
            <div class="w-full text-center">
                <input type="text"
                    class="block p-2 w-4/5 text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs mx-auto"
                    name="new_site" placeholder="현장명을 입력하세요">
            </div>
            <div class="w-full text-center">
                <input type="text"
                    class="block p-2 w-4/5 text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs mx-auto"
                    name="new_site_link" placeholder="사이트(블로그)주소를 입력하세요">
            </div>
            <div class="w-full text-left">
                <button
                    class="text-white mb-3 bg-red-500 hover:bg-red-700 font-medium rounded-lg text-sm px-3 py-1 text-center add_site">
                    등록
                </button>
            </div>
        </div>


        <table class="w-full text-sm">
            <tr>
                <th class="border border-slate-300 py-2 text-center" style="width: 50px;">
                    <input type="checkbox" name="" id="all_chk">
                </th>
                <th class="border border-slate-300 py-2 text-center">현장명</th>
                <th class="border border-slate-300 py-2 text-center">이메일</th>
            </tr>

            {% for site in site_list %}

            <tr>
                <td class="border border-slate-300 py-2 text-center">
                    <input type="checkbox" class="site_id" value="{{ site.sl_id }}">
                </td>
                <td class="border border-slate-300 py-2 text-center">
                    <input type="text"
                        class="block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs"
                        value="{{ site.sl_site_name }}">
                </td>

                <td class="border border-slate-300 py-2 text-center">
                    <input type="text"
                        class="block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs"
                        value="{{ site.sl_site_link }}">
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<script>
    $('.add_site_open').click(function (e) {
        $('.create_site_area').toggle()
    })

    $('.add_site').click(function (e) {
        var siteVal = document.querySelector('input[name=new_site]').value
        var siteLinkVal = document.querySelector('input[name=new_site_link]').value

        if (!siteVal) {
            alert('현장명을 입력해주세요!')
            return false
        }
        axios.post('/crm/use_axios', { siteVal, siteLinkVal }).then((res) => {
            console.log(res)
            location.reload()
        }).catch((err) => {
            console.log(err)
        })
    })

    $('#all_chk').click(function () {
        var onChk = this.checked
        var siteIdChkboxList = document.querySelectorAll('.site_id')
        for (let i = 0; i < siteIdChkboxList.length; i++) {
            siteIdChkboxList[i].checked = onChk
        }
    })

    $('.update_site,.delete_site').click(function (e) {
        if(this.value == 'site_delete'){
            var chkGo = confirm('삭제한 내용은 복구할수 없습니다. 진행하시겠습니까?')
            if(!chkGo){
                return false
            }
        }

        var site_id_list = document.querySelectorAll('.site_id');

        var siteUpdateList = []
        var siteNameList = []
        var siteLinkList = []
        for (let i = 0; i < site_id_list.length; i++) {
            if (site_id_list[i].checked) {
                siteUpdateList.push(site_id_list[i].value)
                siteNameList.push(site_id_list[i].parentNode.parentNode.children[1].firstElementChild.value)
                siteLinkList.push(site_id_list[i].parentNode.parentNode.children[2].firstElementChild.value)
            }
        }
        axios.post('/crm/use_axios', { siteUpdateList, siteNameList, siteLinkList, btnVal: this.value }).then((res) => {
            location.reload()
        }).catch((err) => {
            console.error(err)
        })
    })

</script>
{% endblock %}