{% extends 'crm/db_base.html' %}

{% block dbmanage_content %}

<style>
    @media screen and (max-width: 992px) {
        .table_wrap {
            width: 100%;
            overflow: auto;
        }

        .table_area {
            width: 100%;
            min-width: 400px;
        }
    }
</style>

<div class="container">
    <form method="post">

        <button>업데이트</button>

        <div class="table_wrap">
            <div class="table_area">
                <table class="border-collapse border border-slate-400 w-full mt-8 text-xs suit-font">
                    <tr>
                        <th class="border border-slate-300 py-2 text-center">DB 종류</th>
                        <th class="border border-slate-300 py-2 text-center">상태값 셋팅</th>
                    </tr>
                    <tr>
                        <td class="border border-slate-300 py-2 text-center">분양 DB 상태값</td>
                        <td class="border border-slate-300 py-2 text-center px-3">
                            <div>
                                <input type="text" name="estate_status"
                                    class="block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    value="{{ result.estate_status }}">
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="border border-slate-300 py-2 text-center">렌티 DB 상태값</td>
                        <td class="border border-slate-300 py-2 text-center px-3">
                            <div>
                                <input type="text" name="renty_status"
                                    class="block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    value="{{ result.renty_status }}">
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="border border-slate-300 py-2 text-center">진행중 현장</td>
                        <td class="border border-slate-300 py-2 text-center px-3">
                            <div>
                                <input type="text" name="estate_list"
                                    class="block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    value="{{ result.estate_list }}">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
</div>
{% endblock %}