{% extends 'crm/db_base.html' %}

{% block dbmanage_content %}


<form method="post">
    <div class="container mt-3">
        <div class="mt-4">
            <button
                class="text-white mb-3 bg-red-600 hover:bg-red-700 font-medium rounded-lg text-sm px-3 py-1 text-center update_site"
                value="site_update" name="submit_val">
                삭제
            </button>

            <table class="w-full text-sm">
                <tr>
                    <th class="border border-slate-300 py-2 text-center" style="width: 50px;">
                        <input type="checkbox" name="" id="all_chk">
                    </th>
                    <th class="border border-slate-300 py-2 text-center">현장명</th>
                </tr>

                {% for site in on_site_list %}

                <tr>
                    <td class="border border-slate-300 py-2 text-center">
                        <input type="checkbox" class="site_id" name="site_id" value="{{ site.sl_id }}">
                    </td>
                    <td class="border border-slate-300 py-2 text-left">
                        {{site.sl_site_name}}
                    </td>

                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</form>

<script>
    $('#all_chk').change(function(e) {
        const chkList = document.querySelectorAll('.site_id');
        for (let i = 0; i < chkList.length; i++) {
            chkList[i].checked = this.checked
        }
    })
</script>
{% endblock %}