{% extends 'crm/db_base.html' %}

{% block dbmanage_content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>



<div class="container mt-3">

    <form>
        <div class="flex">
            <input class="border px-1 rounded" type="text" name="search" id="" placeholder="검색할 현장명">
            <button class="bg-amber-600 text-white text-sm px-3 rounded">검색</button>
    </form>

    <form method="post" name="hy_form">

        <div class="ml-4">
            <button type="button"
                class="text-white bg-emerald-600 hover:bg-emerald-800 font-medium rounded-lg text-sm px-3 py-1 text-center add_site_open">
                현장 추가
            </button>

            <button
                class="text-white bg-sky-600 hover:bg-sky-400 font-medium rounded-lg text-sm px-3 py-1 text-center update_site"
                value="site_update" name="submit_val">
                수정
            </button>

            <button
                class="text-white bg-red-500 hover:bg-red-700 font-medium rounded-lg text-sm px-3 py-1 text-center update_site"
                value="site_delete" name="submit_val">
                삭제
            </button>

            <button type="button"
                class="text-white bg-blue-700 hover:bg-blue-500 font-medium rounded-lg text-sm px-3 py-1 text-center duplicate_site_open">
                복사
            </button>
        </div>
</div>

<div class="mt-4">

    <div class="flex mb-3 create_site_area" style="display:none;">
        <div class="w-full text-center">
            <input type="text"
                class="block p-2 w-4/5 text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs mx-auto"
                name="new_site_num" placeholder="고유번호를 입력하세요">
        </div>
        <div class="w-full text-center">
            <input type="text"
                class="block p-2 w-4/5 text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs mx-auto"
                name="new_site_title" placeholder="현장명을 입력하세요">
        </div>
        <div class="w-full text-left">
            <button type="submit"
                class="text-white mb-3 bg-red-500 hover:bg-red-700 font-medium rounded-lg text-sm px-3 py-1 text-center add_site"
                value="site_insert" name="submit_val">
                등록
            </button>
        </div>
    </div>

    <div class="mb-3 text-center duplicate_site_area" style="display:none;">


        <table class="du_table w-full">
        </table>

        <button type="button"
            class="text-white bg-yellow-600 hover:bg-yellow-500 font-medium rounded-lg text-sm px-3 py-1 text-center site_duplicate">
            적용하기
        </button>




    </div>


    <table class="w-full text-sm">
        <tr>
            <th class="border border-slate-300 py-2 text-center" style="width: 50px;">
                <input type="checkbox" name="" id="all_chk">
            </th>
            <th class="border border-slate-300 py-2 text-center">아이디</th>
            <th class="border border-slate-300 py-2 text-center">현장명</th>
            <th class="border border-slate-300 py-2 text-center">바로보기</th>
        </tr>

        {% for site in get_site_list %}

        <tr>
            <td class="border border-slate-300 py-2 text-center">
                <input type="hidden" class="site_id" name="site_id" value="{{ site.hy_id }}">
                <input type="checkbox" name="table_num" value="{{ loop.index0 }}">
                
            </td>
            <td class="border border-slate-300 py-2 text-center">
                <input type="text"
                    class="block p-2 w-4/5 text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs mx-auto"
                    name="site_num" value="{{ site.hy_num }}" placeholder="현장명을 입력하세요">
            </td>

            <td class="border border-slate-300 py-2 text-center">
                <span class="open_detail cursor-pointer text-blue-600">{{ site.hy_title }}</span>
            </td>

            <td class="border border-slate-300 py-2 text-center">
                <a href="/side/{{ site.hy_num }}" target="_blank">
                    <button type="button" class="p-2 rounded-lg bg-green-200">바로가기</button>
                </a>

                {% if site.hy_main_image and site.hy_image_list and 'img' not in site.hy_main_image and 'img' not in site.hy_image_list  %}
                <button type="button" class="change_new bg-orange-400 py-2 rounded-lg px-2 text-white">변경</button>
                {% endif %}
            </td>

        </tr>
        {% endfor %}
    </table>
</div>
</form>


<div class="my-6">
    <nav aria-label="Page navigation" style="text-align: center;">
        <ul class="inline-flex -space-x-px page-wrap">

        </ul>
    </nav>
</div>

<div class="test_wrap">
    asldifjalsdf
</div>


<script>

    $('.change_new').click(async function () {
        const hyNum = this.parentNode.parentNode.children[1].firstElementChild.value;
        const result = await axios.post('/crm/side/new_change_ready', { hyNum });
        const imageList = result.data.imgList


        for await (const imageOn of imageList) {

            const img = new Image();
            img.src = `/img/${hyNum}/${imageOn}`;
            // img.src = imageOn;
            console.log(img);

            try {
                img.addEventListener('load', async function () {
                    console.log('높이 : ', this.naturalHeight, '너비 : ', this.naturalWidth, "이미지 : ", this.src);

                    const maxWidth = 1200;
                    if (this.width >= maxWidth) {
                        var share = this.width / maxWidth;
                        var setHeight = Math.floor(this.height / share);
                        var setWidth = maxWidth;
                    } else {
                        var setWidth = this.width;
                        var setHeight = this.height;
                    }

                    var canvas = document.createElement('CANVAS');
                    canvas.width = setWidth;
                    canvas.height = setHeight;
                    canvas.display = "inline-block";
                    canvas
                        .getContext("2d")
                        .drawImage(img, 0, 0, setWidth, setHeight);

                    var getReImgUrl = canvas.toDataURL("image/webp");

                    const resultImage = dataURItoBlob(getReImgUrl);
                    console.log(resultImage);

                    let imgForm = new FormData();

                    const timestamp = new Date().getTime();
                    const fileName = `${timestamp}${Math.random()
                        .toString(36)
                        .substring(2, 11)}.webp`;

                    imgForm.append("change_img", resultImage, fileName);
                    imgForm.append("hy_num", hyNum);
                    imgForm.append("original_name", imageOn);

                    const config = {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    };
                    const getVal = axios.post('/crm/side/new_change', imgForm, config);
                });
            } catch (error) {
                console.log(error);
            }

            
        }

        




        // $('.test_wrap').append(img)


    })

    $('.change_new_end').click(async function() {
        console.log('asldjflajsdlifjasfd');
        console.log('마지막으로 와야지?!?!?!?!?!??!');
        const hyNum = this.parentNode.parentNode.children[1].firstElementChild.value;
        console.log(hyNum);
        await axios.post('/crm/side/new_change_end', { hyNum });
    })



    // 전체 페이지 값 가져와서 숫자 순서대로 배열 만들기
    const getSiteListCount = '{{getCount}}';
    const pageMaxCount = Math.ceil(Number(getSiteListCount) / 10);
    const pageArr = Array.from({ length: pageMaxCount }, (v, i) => i + 1);

    // 현재 페이지 값 구하기
    var nowLink = document.location.href;
    const url = new URL(nowLink);
    const urlParams = url.searchParams;
    let nowPageNum = urlParams.get('page');
    if (!nowPageNum) {
        nowPageNum = 1;
    }

    // 최초 실행시 페이징 생성하기
    for (let p = 1; p < pageArr.length + 1; p++) {
        let addBgClass = '';
        if (p == Number(nowPageNum)) {
            addBgClass = 'bg-gray-200';
        }
        const pageTemplate = `
        <li>
            <button type="button" name="page" value="${p}" class="px-3 py-2 leading-tight text-gray-500 ${addBgClass} border border-gray-300 hover:bg-gray-200" onclick="hrefPage(this)">${p}</button>
        </li>
        `;
        $('.page-wrap').append(pageTemplate)
    }

    // 페이징 처리 함수
    function hrefPage(e) {
        console.log(e.value);
        console.log(urlParams.get('search'));
        if (urlParams.get('search')) {
            location.href = `/crm/side?search=${urlParams.get('search')}&page=${e.value}`;
        } else {
            location.href = `/crm/side?page=${e.value}`;
        }
    }


    // 현장 추가 항목 열기
    $('.add_site_open').click(function (e) {
        $('.create_site_area').toggle()
    })

    $('.duplicate_site_open').click(function (e) {
        const tableNum = document.querySelectorAll('input[name=table_num]');
        const siteNumList = document.querySelectorAll('input[name=site_num]');

        // Element를 찾으면 Array가 아닌 Object가 반환 됨, Object.values를 통해 values 모음인 배열로 반환하고 checked 가 되어있으면 새로운 배열(checkedArr) 생성
        let checkedArr = Object.values(tableNum).filter(e => e.checked)
        if (checkedArr.length == 0) {
            alert('복사할 항목을 하나 이상 선택하세요.');
            return false;
        }

        // Array.from 은 조건에 맞는 새로운 배열을 만든다. (filter / map도 공부하자)
        let idArr = Array.from(checkedArr, e => e.value);

        $('.du_table').empty();
        for (let i = 0; i < idArr.length; i++) {
            const template = `
            <tr>
                <td class="text-center">
                    <input type="text" name="duplicate_site_id" class="border px-2 py-1 text-sm" placeholder="${siteNumList[Number(idArr[i])].value}의 변경할 값">
                </td>
            </tr>
            `
            $('.du_table').append(template);
        }


        $('.duplicate_site_area').toggle()
    })

    // 상세(수정) 항목 열기
    $('.open_detail').click(function (e) {
        const thisId = this.parentNode.parentNode.firstElementChild.firstElementChild.value
        console.log(thisId)
        var options = 'top=10, left=10, width=700, height=900, status=no, menubar=no, toolbar=no, resizable=no'
        window.open(`side/detail/${thisId}`, '디테일', options)
    })



    $('.update_site').click(function (e) {

        if (this.value == 'site_update' || this.value == 'site_delete') {
            const tableNum = document.querySelectorAll('input[name=table_num]');
            let chkboxChk = false;
            for (let i = 0; i < tableNum.length; i++) {
                if (tableNum[i].checked) {
                    chkboxChk = true;
                    break;
                }
            }
            if (!chkboxChk) {
                alert('선택된 항목이 없습니다. 항목 선택 후 다시 실행해주세요!')
                return false;
            }
        }

        if (this.value == 'site_update') {
            const chkConfirm = confirm('업데이트 되면 아이디 값이 변겨됩니다. 진행 하시겠습니까?')
            if (!chkConfirm) {
                return false;
            }
        } else if (this.value == 'site_delete') {
            const chkConfirm = confirm('해당 현장에 대한 이미지와 데이터가 사라집니다. 사라진 데이터는 복구가 불가능합니다. 내가 70까지 뺀다 봐라!! Yes? or No?')
            if (!chkConfirm) {
                return false;
            }
        }
    })

    $('.site_duplicate').click(function (e) {

        // 변경할 새로운 아이디 리스트
        const duplicateSiteId = document.querySelectorAll('input[name="duplicate_site_id"]');
        const duplicateSiteIdValList = Array.from(Object.values(duplicateSiteId), e => e.value);

        // 체크된 아이디 리스트
        const chkIdList = document.querySelectorAll('input[name="table_num"]');
        const chkIdListVal = Array.from(Object.values(chkIdList).filter(e => e.checked), e => e.value);

        // hy아이디 리스트 전체
        const hyIdEleList = document.querySelectorAll('input[name="site_num"]');
        const hyIdList = Array.from(Object.values(hyIdEleList), e => e.value);

        const params = {
            duplicateSiteIdValList,
            chkIdListVal,
            hyIdList,
        }

        console.log(params);
        $.ajax({
            type: "POST",
            url: "/crm/side/duplicate_mini",
            data: params,
            success: function (res) {
                location.reload();
            },
            error: function (XMLHttpRequest, textStatus, err) {
                console.log(err);
            }
        });


    })


    const dataURItoBlob = (dataURI) => {
        const bytes =
            dataURI.split(",")[0].indexOf("base64") >= 0
                ? atob(dataURI.split(",")[1])
                : unescape(dataURI.split(",")[1]);
        const mime = dataURI.split(",")[0].split(":")[1].split(";")[0];
        const max = bytes.length;
        const ia = new Uint8Array(max);
        for (let i = 0; i < max; i++) ia[i] = bytes.charCodeAt(i);
        return new Blob([ia], { type: mime });
    };






</script>
{% endblock %}