{% extends 'crm/db_base.html' %}

{% block dbmanage_content %}

<style>
    @media screen and (max-width: 992px) {
        .table_wrap {
            width: 100%;
            overflow: auto;
        }

        .table_area {
            width: 100%;
            min-width: 800px;
        }
    }
</style>

<!-- {% for i in range(2,7) %}
{{i}}
{% endfor %} -->
<!-- <a href="?pnum=3">sdfsdf</a> -->

<div class="container">
    <form>
        <div class="my-4">

            <input type="date" class="border rounded-lg py-1 px-2 text-sm now_date" name="sd" value="{{ all_data.sd }}">
            ~
            <input type="date" class="border rounded-lg py-1 px-2 text-sm" name="ed" value="{{ all_data.ed }}">


            <select name="est" id="" class="py-1 pr-14 text-sm border border-blue-500 rounded-lg">
                <option value="">현장 선택</option>
                {% for estate in all_data.estate_list %}
                <option value="{{estate}}" {% if all_data.est==estate %} selected {% endif %}>{{estate}}</option>
                {% endfor %}
            </select>

            <select name="status" id="" class="py-1 pr-14 text-sm border border-blue-500 rounded-lg">
                <option value="">상태값 선택</option>
                {% for status in all_data.status_list %}
                <option value="{{status}}" {% if all_data.status==status %} selected {% endif %}>{{status}}</option>
                {% endfor %}
            </select>

            <select name="sc" id="" class="py-1 pr-14 text-sm border border-blue-500 rounded-lg">
                <option value="30" {% if all_data.sc==30 %}selected{% endif %}>30</option>
                <option value="50" {% if all_data.sc==50 %}selected{% endif %}>50</option>
                <option value="100" {% if all_data.sc==100 %}selected{% endif %}>100</option>
            </select>

            <button type="submit" class="ml-2 text-sm py-1 px-4 bg-gray-700 text-white rounded-lg">검색</button>

            {% if all_data.est %}
            <button type="button" class="ml-2 text-sm py-1 px-4 bg-green-500 text-white rounded-lg start_copy">DB 선택 및
                상태변경</button>
            {% endif %}

        </div>


        <div class="text-right mb-1">
            <button type="button" name="delete" value="on"
                class="ml-2 text-sm py-1 px-4 bg-red-500 text-white rounded-lg chkdelete">삭제</button>

            <a href="/crm/down_db{{add_query}}">
                <span type="submit" name="delete" value="on"
                    class="ml-2 text-sm py-1 px-4 bg-red-500 text-white rounded-lg">다운</button>
            </a>

        </div>

        <div class="table_wrap">
            <div class="table_area">
                <table class="border-collapse border border-slate-400 w-full text-sm suit-font">
                    <tr>
                        <th class="border border-slate-300 text-center">
                            <input type="checkbox" name="" id="" class="all_chk">
                        </th>
                        <th class="border border-slate-300 py-2 text-center">접수번호</th>
                        <th class="border border-slate-300 py-2 text-center">고객명</th>
                        <th class="border border-slate-300 py-2 text-center">전화번호</th>
                        <th class="border border-slate-300 py-2 text-center">현장</th>
                        <th class="border border-slate-300 py-2 text-center">상태</th>
                        <th class="border border-slate-300 py-2 text-center">접수 시간</th>
                    </tr>

                    {% for data in all_data.wdata %}
                    <tr class="dblist" {% if data.status_color %}style="background-color:{{data.status_color}}" {% endif
                        %}>
                        <td class="border border-slate-300 text-center">
                            <input type="checkbox" name="data_id" value="{{ data.af_id }}" id="" class="on_chk">
                        </td>
                        <td class="border border-slate-300 py-2 text-center">{{ data.chkCount }}</td>
                        <td class="border border-slate-300 py-2 text-center">
                            <span class="cursor-pointer mb_detail inline-block" style="max-width: 200px;">{{
                                data.af_mb_name }}</span>
                        </td>
                        <td class="border border-slate-300 py-2 text-center">{{ data.af_mb_phone_chk }} </td>
                        <td class="border border-slate-300 py-2 text-center px-3">
                            {{ data.af_form_name }}
                        </td>
                        <td class="border border-slate-300 py-2 text-center px-3">
                            {{ data.af_mb_status }}
                        </td>
                        <td class="border border-slate-300 py-2 text-center px-3 created_time">{{ data.af_created_at |
                            date("YY/MM/DD HH:mm:ss") }}</td>
                    </tr>
                    {% endfor %}


                </table>
            </div>

            <nav aria-label="Page navigation example" class="text-center mt-4">
                <ul class="inline-flex items-center -space-x-px mx-auto">
                    <li>
                        <button type="button"
                            class="block py-2 px-3 ml-0 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 move_page prev">
                            <span class="sr-only">Previous</span>
                            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </button>
                    </li>
                    {% for i in range(all_data.pagingStartCount, all_data.pagingEndCount) %}
                    {% if i == all_data.nowCount %}
                    <li><button type="submit" name="pnum" value="{{i}}"
                            class="py-2 px-3 leading-tight text-gray-500 bg-blue-300 border border-gray-300">{{i}}</button>
                    </li>
                    {% else %}
                    <li><button type="submit" name="pnum" value="{{i}}"
                            class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300">{{i}}</button>
                    </li>
                    {% endif %}
                    {% endfor %}



                    <li>
                        <button type="button"
                            class="block py-2 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 move_page next">
                            <span class="sr-only">Next</span>
                            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </form>
</div>

<div style="height: 100%; width: 100%; background-color: rgba(93, 90, 90, 0.8); z-index: 999999; position: fixed; left: 0px; top: 0px;"
    class="flex justify-center items-center cursor-pointer estate_copy_modal px-2">
    <div class="relative bg-white rounded p-3 text-center w-full md:w-2/3 lg:w-2/4 "
        style="max-height: 60vh; z-index: 52;">
        <span class="absolute top-1 right-3 text-4xl text-red-600 close_modal">
            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
        </span>


        <div class="review_detail_modal_content overflow-auto p-3 copy_target"
            style="height: 100%; max-height: 500px; min-height: 100px;">
        </div>
        <button type="button" class="ml-2 text-sm py-1 px-4 bg-gray-700 text-white rounded-lg copy_start">복사 및 업데이트
            하기</button>
        <input type="hidden">

    </div>
</div>

<script>
    $('.chkdelete').click(function (e) {

        if (!confirm('삭제하시겠습니까? 삭제된 DB는 복구가 불가합니다.')) {
            return false
        }


        var onChk = document.querySelectorAll('.on_chk');
        var onChkArr = []
        for (let i = 0; i < onChk.length; i++) {
            if (onChk[i].checked) {
                onChkArr.push(onChk[i].value)
            }
        }

        axios.post('/crm/estate_work/delete', { set_db_list: onChkArr }).then((res) => {
            location.reload()
        }).catch((err) => {
            console.error(err);
        })





    })
    $('input[name=ed]').click(function (e) {
        var preVal = this.value
        $('input[name=ed]').change(function (e) {
            var start_day = document.querySelector('input[name=sd]').value;
            if (this.value < start_day) {
                alert('시작날짜보다 이전 날짜 지정은 불가합니다.')
                this.value = preVal
            }
            console.log(this.value);
        })
    })






    $('.estate_copy_modal').hide()
    $('.close_modal').click(function (e) {
        $('.estate_copy_modal').hide()
    })

    $('.start_copy').click(function (e) {
        var setDbList = '';
        var alldblist = document.querySelectorAll('.dblist')
        for (let i = 0; i < alldblist.length; i++) {
            var getInner = alldblist[i].children[5].innerHTML.replace(/\s/g, '')
            if (getInner == "") {
                console.log('비어있어~~ㄴ');
                var setDbList = setDbList + alldblist[i].children[2].firstElementChild.innerHTML + '//' + alldblist[i].children[3].innerHTML + '<br>';
            }
        }
        console.log(alldblist);
        document.querySelector('.copy_target').innerHTML = setDbList
        $('.estate_copy_modal').show()
    })

    $('.copy_start').click(function (e) {
        var copy_target = document.querySelector('.copy_target').innerHTML
        var copy_target = copy_target.replace(/\<br\>/g, '\r\n')
        var copy_target = copy_target.replace(/\/\//g, '\t')

        const $textarea = document.createElement("textarea");
        document.body.appendChild($textarea);
        $textarea.value = copy_target;
        $textarea.select()
        document.execCommand('copy');

        alert('복사 되었습니다.')

        var alldblist = document.querySelectorAll('.dblist')
        var set_db_list = [];
        for (let i = 0; i < alldblist.length; i++) {
            var getInner = alldblist[i].children[5].innerHTML.replace(/\s/g, '')
            if (getInner == "") {
                set_db_list.push(alldblist[i].children[0].firstElementChild.value)
            }
        }

        $.ajax({
            method: 'post', url: '/crm/estate_work/update', data: { set_db_list }, success: function (data) {
                location.reload()
            }, error: function (err) {
                console.log(err);
            }
        })
    })

    $('.all_chk').change(function (e) {
        console.log(this.checked);
        if (this.checked == true) {
            document.querySelectorAll('.on_chk').forEach(e => {
                e.checked = true;
            });
        } else {
            document.querySelectorAll('.on_chk').forEach(e => {
                e.checked = false;
            });
        }
    })


    $('.mb_detail').click(function (e) {

        const thisId = this.parentNode.parentNode.firstElementChild.firstElementChild.value
        var options = 'top=10, left=10, width=500, height=600, status=no, menubar=no, toolbar=no, resizable=no'
        window.open(`estate_detail/${thisId}`, '디테일', options)
    })

</script>
{% endblock %}