{% extends 'crm/db_base.html' %}

{% block dbmanage_content %}


<style>
    .container {
        height: 100%;
        /* 부모 요소를 전체 높이로 설정 */
        overflow: hidden;
        /* 스크롤을 없앰 */
    }

    .table-wrapper {
        overflow-y: auto;
        /* 세로 스크롤 가능 */
        overflow-x: auto;
        /* 수평 스크롤 가능 */
        max-height: 100%;
        /* 부모 요소의 높이에 맞추어 설정 */
        position: relative;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        min-width: 100px;
        /* 최소 너비 설정 */
    }

    .sticky-header {
        position: sticky;
        top: 0;
        /* 상단에 고정 */
        background-color: white;
        /* 배경색 지정 */
        z-index: 1;
        /* 다른 요소 위에 표시되도록 설정 */
    }

    .sticky-left {
        position: sticky;
        left: 0;
        /* 왼쪽에 고정 */
        background-color: white;
        /* 배경색 지정 */
        z-index: 2;
        /* 다른 요소 위에 표시되도록 설정 */
    }

    .fix_sized {
        max-height: 700px;
    }
</style>



<div class="container">
    <form action="">
        <div class="mt-3">

            <input type="date" name="sd" id="start_date" class="border text-sm rounded-md px-2 py-1">
            <span>~</span>
            <input type="date" name="ed" id="end_date" class="border text-sm rounded-md px-2 py-1">

            <input type="text" name="search" id="search"
                class="border text-sm rounded-md px-2 py-1 focus:outline-none focus:border-blue-500">

            <button class=" text-white text-sm px-3 py-1 rounded-md bg-blue-500 active:bg-blue-600">
                검색
            </button>

            <a href="/crm/dbcount">
                <button type="button" class="text-white text-sm px-3 py-1 rounded-md bg-green-500 active:bg-green-600">
                    초기화
                </button>
            </a>
        </div>


        <div class="table-wrapper">
            <div class="w-full h-screen max-w-[1324px] overflow-auto mt-3" style="max-height: 650px;">
                <table class="w-full text-sm text-center" style="table-layout: auto;">
                    <tr>
                        <th class="border px-2 py-1.5 sticky-header sticky-left" style="white-space: nowrap;">

                            현장명
                        </th>
                        <th class="border px-2 py-1.5 sticky-header" style="white-space: nowrap;">총계</th>
                        {% for date in dateArray %}
                        <th class="border px-2 py-1.5 sticky-header" style="white-space: nowrap;">
                            {{date}}
                        </th>
                        {% endfor %}
                    </tr>

                    {% for site_info in site_count_info_list %}
                    <tr>
                        <td class="border px-2 py-1.5 sticky-left" style="white-space: nowrap;">
                            {{site_info.form_name}}
                        </td>
                        <td class="border px-2 py-1.5" style="white-space: nowrap;">
                            {{site_info.all_count}}
                        </td>


                        {% for date in dateArray %}
                        <td class="border " style="white-space: nowrap;">
                            {% set dateFound = false %}
                            {% for entry in site_info.db_list %}
                            {% if entry.date == date %}
                            {% set dateFound = true %}
                            {% if entry.count == 0 %}
                            <div class="px-2 py-1.5 bg-gray-200">
                                {{entry.count}}
                            </div>
                            {% else %}
                            <div>
                                {{entry.count}}
                            </div>
                            {% endif %}
                            {% endif %}
                            {% endfor %}

                            {% if not dateFound %}
                            <div class="px-2 py-1.5 bg-gray-200">
                                0
                            </div>
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>

        </div>

        <div class="bg-white p-6 rounded-lg shadow-lg">
            <nav aria-label="페이지네이션">
                <ul class="flex items-center justify-center space-x-1">

                    <li>
                        <button type="button" class="w-8 h-8 text-sm border rounded-md go_to_start">
                            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="w-8 h-8 text-sm border rounded-md go_to_previous">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </button>
                    </li>

                    {% for page in page_list %}
                    {% if page == nowPage %}
                    <li>
                        <button name="page" value="{{page}}"
                            class="w-8 h-8 text-sm rounded-md bg-orange-400 text-white">
                            {{page}}
                        </button>
                    </li>
                    {% else %}
                    <li>
                        <button name="page" value="{{page}}" class="w-8 h-8 text-sm border rounded-md">
                            {{page}}
                        </button>
                    </li>
                    {% endif %}
                    {% endfor %}


                    <li>
                        <button type="button" class="w-8 h-8 text-sm border rounded-md go_to_next">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="w-8 h-8 text-sm border rounded-md go_to_last">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </form>
</div>

<script>

    const allCount = Number('{{allPageCount}}')
    console.log(allCount);

    const today = new Date();

    // sd 없을때 시작 값
    const threeDaysAgo = new Date();
    threeDaysAgo.setDate(today.getDate() - 3);
    const formattedthreeDaysAgoDate = `${threeDaysAgo.getFullYear().toString()}-${String(threeDaysAgo.getMonth() + 1).padStart(2, '0')}-${String(threeDaysAgo.getDate()).padStart(2, '0')}`;

    // ed 없을때 끝 값

    const formattedTodayDate = `${today.getFullYear().toString()}-${String(today.getMonth() + 1).padStart(2, '0')}-${String(today.getDate()).padStart(2, '0')}`;


    // URLSearchParams를 사용하여 쿼리 매개변수 추출
    const urlParams = new URLSearchParams(window.location.search);
    // 각 입력 필드에 쿼리 값 설정

    console.log(formattedthreeDaysAgoDate);



    document.getElementById('start_date').value = urlParams.get('sd') || formattedthreeDaysAgoDate;
    document.getElementById('end_date').value = urlParams.get('ed') || formattedTodayDate;
    document.getElementById('search').value = urlParams.get('search') || '';


    document.getElementById('start_date').addEventListener('change', function () {
        const selectedDate = this.value;
        const endDateValue = document.getElementById('end_date').value
        const urlParams = new URLSearchParams(window.location.search);

        if (selectedDate > getTodayDate()) {
            alert('오늘 날짜보다 뒤로 선택할 수 없습니다.');
            this.value = urlParams.get('sd') || formattedthreeDaysAgoDate;
        } else if (selectedDate > endDateValue) {
            alert('종료 날짜보다 뒤로 선택할수 없습니다.')
            this.value = urlParams.get('sd') || formattedthreeDaysAgoDate;
        }
    });

    document.getElementById('end_date').addEventListener('change', function () {
        const selectedDate = this.value;
        if (selectedDate > getTodayDate()) {
            const urlParams = new URLSearchParams(window.location.search);
            alert('오늘 날짜보다 뒤로 선택할 수 없습니다.');
            this.value = urlParams.get('ed') || '';
        }
    });

    const goToStartEle = document.querySelector('.go_to_start');
    goToStartEle.addEventListener('click', () => {
        const urlParams = new URLSearchParams(window.location.search);
        let nowPage = parseInt(urlParams.get('page')) || 1;
        console.log(nowPage);

        // page 값이 1 이하이면 false 반환하고 종료
        if (nowPage - 1 < 1) {
            alert('첫 페이지 입니다.')
            return false;
        }
        // page 값을 1 감소
        // 새로운 page 값으로 URL 업데이트
        urlParams.set('page', 1);
        window.location.search = urlParams.toString(); // 쿼리 스트링으로 페이지 이동
    })

    const goToPreviousEle = document.querySelector('.go_to_previous');
    goToPreviousEle.addEventListener('click', () => {
        const urlParams = new URLSearchParams(window.location.search);
        let page = parseInt(urlParams.get('page')) || 1;
        // page 값이 1 이하이면 false 반환하고 종료

        // page 값을 1 감소
        page--;

        if (page < 1) {
            alert('첫 페이지 입니다.')
            return false;
        }
        
        // 새로운 page 값으로 URL 업데이트
        urlParams.set('page', page);
        window.location.search = urlParams.toString(); // 쿼리 스트링으로 페이지 이동
    })


    const goToNextEle = document.querySelector('.go_to_next');

    goToNextEle.addEventListener('click', () => {
        const urlParams = new URLSearchParams(window.location.search);
        let page = parseInt(urlParams.get('page')) || 1;
        // page 값이 1 이하이면 false 반환하고 종료

        // page 값을 1 추가
        page++;
        if (page > allCount) {
            alert('마지막 페이지 입니다.')
            return false;
        }
        
        // 새로운 page 값으로 URL 업데이트
        urlParams.set('page', page);
        window.location.search = urlParams.toString(); // 쿼리 스트링으로 페이지 이동
    })

    const goToLastEle = document.querySelector('.go_to_last');
    goToLastEle.addEventListener('click', () => {
        const urlParams = new URLSearchParams(window.location.search);
        let nowPage = parseInt(urlParams.get('page')) || 1;
        console.log(nowPage);

        // page 값이 1 이하이면 false 반환하고 종료
        if (nowPage + 1 > allCount) {
            alert('마지막 페이지 입니다.')
            return false;
        }
        // page 값을 1 감소
        // 새로운 page 값으로 URL 업데이트
        urlParams.set('page', allCount);
        window.location.search = urlParams.toString(); // 쿼리 스트링으로 페이지 이동
    })






    function getTodayDate() {
        const today = new Date();
        return today.toISOString().split('T')[0]; // YYYY-MM-DD 형식으로 변환
    }

</script>
{% endblock %}