{% extends 'crm/db_base.html' %}

{% block dbmanage_content %}


<div class="p-3">
    <button class="text-sm text-white bg-green-500 active:bg-green-600 py-1 px-3 rounded-md add_row_btn">
        행추가
    </button>

    <button class="text-sm text-white bg-red-500 active:bg-red-600 py-1 px-3 rounded-md">
        선택삭제
    </button>
</div>

<div class="p-3 hidden add_row">
    <table class="w-full text-center">
        <tr>
            <th class="border p-2">사이트 이름 (서브도메인)</th>
            <td class="border p-2">
                <div class="flex items-center gap-3">
                    <div class="w-full">
                        <input type="text" class="border p-1.5 w-full focus:outline-none border-blue-400 add_row_value">
                    </div>
                    <div class="w-full text-left">
                        <button
                            class="bg-blue-500 active:bg-blue-600 py-1 text-white rounded-md px-5 text-sm add_row_act">
                            행 추가 완료하기
                        </button>
                    </div>
                </div>



            </td>
        </tr>
    </table>
</div>

<div class="p-3 text-sm">
    <table class="w-full text-center text-sm">
        <tr>
            <th class="border py-1.5 w-12">
                <input type="checkbox" name="" id="">
            </th>

            <th class="border py-1.5">사이트 이름</th>
            <th class="border py-1.5">서브도메인</th>
            <th class="border py-1.5">관리</th>
            <th class="border py-1.5">현장</th>
            <th class="border py-1.5">조회수</th>
        </tr>

        {% for land in land_list %}
        <tr>
            <td class="border py-1.5 w-12">
                <input type="checkbox" value="" />
            </td>
            <td class="border py-1.5">{{ land.ld_name }}</td>
            <td class="border py-1.5">{{ land.ld_domain }}</td>
            <td class="border py-1.5">
                <button class="text-xs text-white bg-blue-500 active:bg-blue-600 py-1 px-3 rounded-md"
                    onclick="goToSite('{{ land.ld_domain }}')">
                    사이트 바로가기
                </button>

                <button class="text-xs text-white bg-pink-500 active:bg-pink-600 py-1 px-3 rounded-md"
                    onclick="goToSiteSet('{{ land.ld_domain }}')">
                    관리 바로가기
                </button>

                <button class="text-xs text-white bg-green-600 active:bg-green-700 py-1 px-3 rounded-md"
                    onclick="goToSiteVisit('{{ land.ld_domain }}')">
                    방문자수 바로가기
                </button>
            </td>

            <td class="border py-1.5">

                {% if land.ld_site %}
                <div>
                    <span class="mr-2">{{land.ld_site}}</span>
                    <button value="{{loop.index0}}"
                        class="bg-red-400 active:bg-red-500 text-sm py-1 px-3 rounded-md text-white change_site">
                        변경
                    </button>
                </div>
                {% else %}
                <div>
                    <span class="mr-2">사이트를 선택해주세요</span>
                    <button value="{{loop.index0}}"
                        class="bg-red-400 active:bg-red-500 text-sm py-1 px-3 rounded-md text-white change_site">
                        선택
                    </button>
                </div>
                {% endif %}


                <div class="mt-2 change_site_area hidden">
                    <div class="mb-2">
                        <input type="text" class="border py-1 px-2 text-sm filter_value rounded-md">
                        <button value="{{loop.index0}}"
                            class="bg-blue-500 active:bg-blue-600 text-sm py-1 px-3 rounded-md text-white filter_site">
                            1차 검색
                        </button>
                    </div>
                    <div>
                        <select name="" id="" class="get_site_select border py-1 px-3 text-sm rounded-md">
                            <option value="">선택하세요</option>
                            {% for site in site_list %}
                            <option value="{{site.sl_site_name}}">{{site.sl_site_name}}</option>
                            {% endfor %}
                        </select>
                        <button
                            class="bg-blue-500 active:bg-blue-600 text-sm py-1 px-3 rounded-md text-white update_land_site"
                            value="{{land.ld_id}}">
                            반영
                        </button>
                    </div>
                </div>

            </td>

            <td class="border py-1.5 text-center">
                {{land.ld_visit_count}}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>


<script>

    $('.change_site').click(function () {
        console.log('일단 여기는 맞잖아~');
        console.log(this.value);
        let changeSiteAreaList = document.querySelectorAll('.change_site_area')
        console.log(changeSiteAreaList);
        changeSiteArea = changeSiteAreaList[this.value]
        if (changeSiteArea.classList.contains('hidden')) {
            changeSiteArea.classList.remove('hidden')
        } else {
            changeSiteArea.classList.add('hidden')
        }

        console.log(changeSiteArea.classList);
    })

    $('.update_land_site').click(async function () {
        console.log(this.value);
        const selectedVal = this.previousElementSibling.value
        if (!selectedVal) {
            alert('현장이 선택되지 않았습니다.')
            return
        }

        try {
            const res = await axios.post('/crm/minisite/update_land_site', { selectedVal, getId: this.value })
            if (res.data.status) {
                alert('반영 되었습니다.')
                location.reload();
            }
        } catch (error) {

        }
    })

    $('.filter_site').click(async function () {
        console.log(this.value);

        const filterValueList = document.querySelectorAll('.filter_value')
        const filterValue = filterValueList[this.value].value
        if (!filterValue) {
            alert('검색어를 입력해주세요')
            return
        }

        let filter_site_list = [];
        try {
            const res = await axios.post('/crm/minisite/filter_site', { filterValue })
            if (res.data.status) {
                if (res.data.filter_site_list.length == 0) {
                    alert('검색된 항목이 없습니다')
                } else {
                    filter_site_list = res.data.filter_site_list
                    const getSiteSelectList = document.querySelectorAll('.get_site_select')
                    const getSiteSelect = getSiteSelectList[this.value]
                    $(getSiteSelect).empty();
                    const optTemplate = `<option>선택하세요</option>`
                    $(getSiteSelect).append(optTemplate);
                    for (let i = 0; i < filter_site_list.length; i++) {
                        const element = filter_site_list[i];
                        const optTemplate = `<option value="${element['sl_site_name']}">${element['sl_site_name']}</option>`
                        $(getSiteSelect).append(optTemplate);
                    }
                }
            } else {
                alert()
            }

        } catch (err) {
            console.error(err.message);
        }



    })

    function goToSite(siteName) {
        const currentDomain = window.location.origin;
        let hostArr = currentDomain.split('//')
        console.log(siteName);
        const goToLink = `${hostArr[0]}//${siteName}.${hostArr[1]}`;
        console.log(goToLink);
        var newWindow = window.open(goToLink, '_blank');
        newWindow.focus();
    }

    function goToSiteSet(siteName) {
        const currentDomain = window.location.origin;
        let hostArr = currentDomain.split('//')
        console.log(siteName);
        const goToLink = `${hostArr[0]}//${siteName}.${hostArr[1]}/setting`;
        console.log(goToLink);
        var newWindow = window.open(goToLink, '_blank');
        newWindow.focus();
    }

    function goToSiteVisit(siteName) {
        const currentDomain = window.location.origin;
        let hostArr = currentDomain.split('//')
        console.log(siteName);
        const goToLink = `${hostArr[0]}//${siteName}.${hostArr[1]}/visit`;
        console.log(goToLink);
        var newWindow = window.open(goToLink, '_blank');
        newWindow.focus();
    }

    $('.add_row_btn').click(function () {

        const addRow = document.querySelector('.add_row');
        if (addRow.classList.contains('hidden')) {
            addRow.classList.remove('hidden');
        } else {
            addRow.classList.add('hidden');
        }
    })

    $('.add_row_act').click(async function () {
        console.log('aslidfjliasjf923402843098234');
        const addRowValue = document.querySelector('.add_row_value').value;
        console.log(addRowValue);

        const containsExcept = /[^a-zA-Z0-9]/.test(addRowValue);
        // const containsHangul = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣|!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~]/.test(addRowValue);
        if (containsExcept) {
            alert('도메인명은 영어 / 숫자만 가능 합니다')
            return
        }
        try {
            const res = await axios.post('/crm/minisite/add_row_data', { addRowValue })
            if (res.data.status) {
                alert('도메인이 등록 되었습니다.')
                location.reload();
            } else {
                alert(res.data.message)
            }
        } catch (err) {
            console.error(err.message);
        }
    })


</script>


{% endblock %}