{% include "crm/db_head.html" %}

<body>
    <div class="container w-11/12 mt-2 rounded-md text-sm suit-font text-center">
        <form method="post" enctype="multipart/form-data">
            <table class="border-collapse border border-slate-400 w-full  rounded">
                <input type="hidden" name="hy_num" value="{{ get_hy_info.hy_num }}">
                <tr>
                    <th class="border bg-slate-100 border-slate-300 py-1 text-center">현장명</th>
                    <td class="border border-slate-300 py-1 text-center">
                        <input type="text"
                            class="block p-2 w-4/5 text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs mx-auto"
                            name="hy_title" placeholder="">
                    </td>
                </tr>




                <tr>
                    <th class="border bg-slate-100 border-slate-300 py-1 text-center">간략설명</th>
                    <td class="border border-slate-300 py-1 text-center">
                        <textarea name="hy_description" id="" rows="3"
                            class="text-gray-900 bg-gray-50 rounded-lg border border-gray-300 w-4/5"></textarea>
                    </td>
                </tr>
                <tr>
                    <th class="border bg-slate-100 border-slate-300 py-1 text-center">키워드</th>
                    <td class="border border-slate-300 py-1 text-center">
                        <input type="text"
                            class="block p-2 w-4/5 text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs mx-auto"
                            name="hy_keywords" placeholder="">
                    </td>
                </tr>
                <tr>
                    <th class="border bg-slate-100 border-slate-300 py-1 text-center">사이트명</th>
                    <td class="border border-slate-300 py-1 text-center">
                        <input type="text"
                            class="block p-2 w-4/5 text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs mx-auto"
                            name="hy_site_name" placeholder="">
                    </td>
                </tr>
                <tr>
                    <th class="border bg-slate-100 border-slate-300 py-1 text-center">사업명</th>
                    <td class="border border-slate-300 py-1 text-center">
                        <input type="text"
                            class="block p-2 w-4/5 text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs mx-auto"
                            name="hy_businessname" placeholder="">
                    </td>
                </tr>
                <tr>
                    <th class="border bg-slate-100 border-slate-300 py-1 text-center">분류</th>
                    <td class="border border-slate-300 py-1 text-center">
                        <input type="text"
                            class="block p-2 w-4/5 text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs mx-auto"
                            name="hy_type" placeholder="">
                    </td>
                </tr>
                <tr>
                    <th class="border bg-slate-100 border-slate-300 py-1 text-center">규모</th>
                    <td class="border border-slate-300 py-1 text-center">
                        <input type="text"
                            class="block p-2 w-4/5 text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs mx-auto"
                            name="hy_scale" placeholder="">
                    </td>
                </tr>
                <tr>
                    <th class="border bg-slate-100 border-slate-300 py-1 text-center">전용면적</th>
                    <td class="border border-slate-300 py-1 text-center">
                        <input type="text"
                            class="block p-2 w-4/5 text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs mx-auto"
                            name="hy_areasize" placeholder="">
                    </td>
                </tr>
                <tr>
                    <th class="border bg-slate-100 border-slate-300 py-1 text-center">세대수</th>
                    <td class="border border-slate-300 py-1 text-center">
                        <input type="text"
                            class="block p-2 w-4/5 text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs mx-auto"
                            name="hy_house_number" placeholder="">
                    </td>
                </tr>
                <tr>
                    <th class="border bg-slate-100 border-slate-300 py-1 text-center">공급위치</th>
                    <td class="border border-slate-300 py-1 text-center">
                        <input type="text"
                            class="block p-2 w-4/5 text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs mx-auto"
                            name="hy_location" placeholder="">
                    </td>
                </tr>
                <tr>
                    <th class="border bg-slate-100 border-slate-300 py-1 text-center">입주예정</th>
                    <td class="border border-slate-300 py-1 text-center">
                        <input type="text"
                            class="block p-2 w-4/5 text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs mx-auto"
                            name="hy_scheduled" placeholder="">
                    </td>
                </tr>
                <tr>
                    <th class="border bg-slate-100 border-slate-300 py-1 text-center">시공사</th>
                    <td class="border border-slate-300 py-1 text-center">
                        <input type="text"
                            class="block p-2 w-4/5 text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs mx-auto"
                            name="hy_builder" placeholder="">
                    </td>
                </tr>
                <tr>
                    <th class="border bg-slate-100 border-slate-300 py-1 text-center">시행사</th>
                    <td class="border border-slate-300 py-1 text-center">
                        <input type="text"
                            class="block p-2 w-4/5 text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs mx-auto"
                            name="hy_conduct" placeholder="">
                    </td>
                </tr>
                <tr>
                    <th class="border bg-slate-100 border-slate-300 py-1 text-center">특장점</th>
                    <td class="border border-slate-300 py-1 text-center">
                        <textarea name="hy_features" id="" rows="3"
                            class="text-gray-900 bg-gray-50 rounded-lg border border-gray-300 w-4/5"></textarea>
                    </td>
                </tr>

                <tr>
                    <th class="border bg-slate-100 border-slate-300 py-1 text-center">전화번호</th>
                    <td class="border border-slate-300 py-1 text-center">

                        <input type="text"
                            class="block p-2 w-4/5 text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs mx-auto"
                            name="hy_conduct" placeholder="">
                        <span>※ 미입력시 기본 대표번호로 등록됩니다.</span>
                    </td>
                </tr>

                <tr>
                    <th class="border bg-slate-100 border-slate-300 py-1 text-center">메인이미지</th>
                    <td class="border border-slate-300 py-1 text-center">
                        <input name="main_img"
                            class="form-control block w-2/4 py-1.5 mx-auto text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                            type="file" id="formFile">

                        <div class="text-center max-w-xs mx-auto mt-4">
                            <img src="" alt="" class="mx-auto preview_main_image">
                        </div>

                    </td>
                </tr>
            </table>

            <div class="mt-3 text-center">
                <input type="hidden" name="hy_image_list">
                <div class="text-xl">이미지 리스트</div>

                <div class="h-28 mb-3 rounded-lg border-dashed border-1 border-indigo-600 dropBox">
                    <div class="flex flex-col justify-center items-center h-full">
                        <span class="text-xl">이미지를 드래그해주세요</span>
                        <span class="text-4xl text-neutral-500"><i class="fa fa-plus-circle"
                                aria-hidden="true"></i></span>
                    </div>
                </div>
                <button type="button" class="border rounded-lg px-4 py-2 bg-yellow-700 text-white">이미지 추가</button>
            </div>


            <button class="border rounded-lg py-2 text-white bg-cyan-700 text-xl w-3/5">등록하기</button>
        </form>
    </div>
</body>

<script>
    $('.testget').click(function (e) {
        console.log('aslidjfliasjdfljaf');
    })

    const $drop = document.querySelector(".dropBox");
    const $title = document.querySelector(".dropBox h1");

    // 드래그한 파일 객체가 해당 영역에 놓였을 때
    $drop.ondrop = (e) => {
        e.preventDefault();
        $drop.className = "dropBox";

        // 파일 리스트
        const files = [...e.dataTransfer?.files];
        console.log(files);
        const formData = new FormData();
        formData.append('testimg', this.files[0]);
        axios.post('/crm/arr_image', formData).then((res) => {

        }).catch((err) => {
            console.log('에러입니다 에러 ㅎㅎ');
            console.error(err);
        });


        // $title.innerHTML = files.map(v => v.name).join("<br>");
    }

    // ondragover 이벤트가 없으면 onDrop 이벤트가 실핻되지 않습니다.
    $drop.ondragover = (e) => {
        e.preventDefault();
    }

    // 드래그한 파일이 최초로 진입했을 때
    // $drop.ondragenter = (e) => {
    //     e.preventDefault();

    //     $drop.classList.add("active");
    // }

    // 드래그한 파일이 영역을 벗어났을 때
    // $drop.ondragleave = (e) => {
    //     e.preventDefault();

    //     $drop.classList.remove("active");
    // }





    $('#formFile').change(function (e) {
        console.log('sldjflsjdflisjdf');
        const previewImage = document.querySelector('.preview_main_image')
        readImage(e.target, previewImage)
    })

    function readImage(input, previewImage) {
        // 인풋 태그에 파일이 있는 경우
        if (input.files && input.files[0]) {
            // 이미지 파일인지 검사 (생략)
            // FileReader 인스턴스 생성
            const reader = new FileReader()
            // 이미지가 로드가 된 경우
            reader.onload = e => {
                console.log(e.target.result);
                previewImage.src = e.target.result
            }
            // reader가 이미지 읽도록 하기
            reader.readAsDataURL(input.files[0])
        }
    }

</script>