<div id="ft">
  <div class="container mb-5">
    <div class="row">

      <div class="col-12 col-lg-4 ft_logo_in">
        <div class="ft_logo_img">
          <img src="/img/topby_base/logo.png" alt="">
        </div>
      </div>

      <div class="col-12 col-lg-8 mt-4">
        <!-- <span>통신판매업신고번호 : 부천 2021-4849494 </span> -->
        <span>개인정보 보호책임자 : 김연지 </span>
        <!-- <span>대표 : 박창현 </span>
        <span>회사명 : 애드피크 </span>
        <span>주소 : 경기도 부천시 경인로 37, 301호 (송내동 신진빌딩) </span>
        <span>사업자번호 : 240-06-01900 </span>
        <span>통신판매업신고번호 : 2022-서울구로-2077 </span> -->
        <span>전화 : 1644-9714</span>

        <span>대표 : 박창용 </span>
        <span>회사명 : 피크 </span>
        <span>주소 : 경기도 부천시 중동로 71번길 39, 902호 </span>
        <span>사업자번호 : 509-63-00569 </span>
        <span>이메일 : adpeak@naver.com </span>
        <span>통신판매업신고번호 : 2022-경기부천-0266 </span>
        <span>전화 : 1644-9714</span>


        {% if userInfo.user.rate > 3 %}
        <span><a class="nav-link" href="/crm">CRM 바로가기</a></span>
        {% else %}
        <span><a class="nav-link" href="/crm/estate_manager">CRM 바로가기</a></span>
        {% endif %}
      </div>

    </div>
  </div>
</div>


<script>
  window.fbAsyncInit = function () {
    FB.init({
      appId: '487172759963733',
      xfbml: true,
      version: 'v14.0'
    });
    FB.AppEvents.logPageView();
  };

  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) { return; }
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

</body>

</html>