{% extends "topby/topby_base.html" %}

{% block topby_content %}


<style>
  .topmargin {
    margin-top: 78px;
  }

  .inner_img_wrap {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .inner_img {
    width: 100%;
  }
</style>

<div class="topmargin"></div>



<!-- 탑 이미지 -->


<section>
  <div class="inner_img_wrap">
    <img src="/img/topby_base2/tobpy_new_1.png" alt="" style="width:100%;">
  </div>
  <div class="inner_img_wrap">
    <img src="/img/topby_base2/tobpy_new_2.png" alt="" style="width:100%;">
  </div>
  <div class="inner_img_wrap">
    <img src="/img/topby_base2/tobpy_new_3.png" alt="" style="width:100%;">
  </div>
  <div class="inner_img_wrap">
    <img src="/img/topby_base2/tobpy_new_4.png" alt="" style="width:100%;">
  </div>
  <div class="inner_img_wrap">
    <img src="/img/topby_base2/tobpy_new_5.png" alt="" style="width:100%;">
  </div>
  <div class="inner_img_wrap">
    <img src="/img/topby_base2/tobpy_new_6.png" alt="" style="width:100%;">
  </div>
  <div class="inner_img_wrap">
    <img src="/img/topby_base2/tobpy_new_7.png" alt="" style="width:100%;">
  </div>
  <div class="inner_img_wrap">
    <img src="/img/topby_base2/tobpy_new_8.png" alt="" style="width:100%;">
  </div>
</section>



<section class="search_3">
  <form class="" action="./byupdate.php" method="post">
    <input type="hidden" name="by_site" value="<?php echo $onsite['by_name'] ?>">
    <input type="hidden" name="by_siteeng" value="<?php echo $onsite['by_engname'] ?>">
    <div class="container mt-3">
      <div class="onform pt-3 pb-5">
        <div class="say_go">
          상담신청하기
        </div>
        <div class="say_go_sub">
          전문 상담원이 빠른시간안에 연락 드리겠습니다.
        </div>

        <div class="customer_info mt-3">
          <input type="text" name="by_name" value="" placeholder="성함(필수)" required>
        </div>
        <div class="customer_info mt-3">
          <input type="text" name="by_phnum" value="" placeholder="연락처(필수)" required>
        </div>
        <div class="customer_ta mt-3">
          <textarea name="by_memo" rows="4" placeholder="추가 문의 내용을 적어주세요"></textarea>
        </div>
        <div class="onsubmit mt-3">
          <button type="submit" class="by_submitbtn">신청하기</button>
        </div>
      </div>
    </div>
  </form>
</section>


<script>
  AOS.init();
  var swiper = new Swiper(".mySwiper", {
    effect: "coverflow",
    grabCursor: true,
    centeredSlides: true,
    loop: true,
    autoplay: {
      delay: 1500,
      disableOnInteraction: false,
    },
    slidesPerView: "auto",
    coverflowEffect: {
      rotate: 40,
      stretch: 0,
      depth: 50,
      modifier: 1,
      slideShadows: true,
    },
    pagination: {
      el: ".swiper-pagination",
    },
  });

  setTimeout(function () {
    console.log('Works!');
    let magicGrid = new MagicGrid({
      container: '.inner_grid',
      animate: true,
      gutter: 30,
      static: true,
      useMin: true,
      center: false,
      maxColumns: 3
    });

    magicGrid.listen();
  }, 800);

  var navbarnav = document.querySelectorAll('.navbar-nav span');
  var navbar_collapse = document.querySelectorAll('.navbar-collapse');
  var menuToggle = document.getElementById('navbarNav')

  // navbar_collapse.classList.remove('show')

  navbarnav.forEach((item, i) => {
    item.addEventListener("click", function () {
      var bsCollapse = new bootstrap.Collapse(menuToggle)
      var onElement = document.querySelector('.search_' + i)
      onElement.scrollIntoView({
        behavior: "smooth",
        block: "start",
        inline: "nearest"
      });

      for (var l = 0; l < navbarnav.length; l++) {
        navbarnav[l].classList.remove('active')
      }
      this.classList.add('active')

      var navbarCollapse = document.querySelector('.navbar-collapse');

      if (navbarCollapse.classList.contains('show')) {
        navbarCollapse.classList.remove('active')
        bsCollapse.toggle()
      }
    })
  });

  let body = document.querySelector('body')
  body.addEventListener("click", function (e) {
    var navbarCollapse = document.querySelector('.navbar-collapse');
    if (!e.target.classList.contains('collapse')) {
      navbarCollapse.classList.remove('active')
    }
    console.log();
  })
  //
  // console.log(navbarnav);
</script>
</body>

</html>

{% endblock %}