<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

    <!-- 폰트어썸  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- main.css -->
    <link rel="stylesheet" href="/tailwind.css" />
    <link rel="stylesheet" href="/font.css" />
    <style>
        body {
            font-family: 'SUIT', sans-serif;
        }
    </style>
</head>

<body>
    <form action="/nwork" method="post">
        <div class="container grid grid-cols-4 text-center mx-auto">
            <div class="pt-3  h-full">
                <div class="px-2">
                    <textarea name="id_list" id="" rows="10" class="border border-gray-400 w-full"></textarea>
                </div>
                <div class="">
                    <button name="add_id"
                        class="bg-yellow-600 w-4/5 py-2 text-lg rounded-lg text-white font-bold">등록하기</button>
                </div>

            </div>
            <div class="border-l-2 border-stone-600 col-span-3 relative px-1">
                <div class="text-right py-4 px-12 fixed top-0 right-0 w-2/3 bg-white">
                    <button class="bg-red-700 text-white px-5 rounded-lg">삭제</button>
                    <button class="bg-blue-600 text-white px-5 rounded-lg">수정</button>
                </div>

                <table class="table-auto border-collapse w-full mx-auto mt-14 mb-20">
                    <tr>
                        <th class="border border-slate-300">
                            <input type="checkbox" name="" id="">
                        </th>
                        <th class="border border-slate-300">UA</th>
                        <th class="border border-slate-300">아이디</th>
                        <th class="border border-slate-300">비밀번호</th>
                        <th class="border border-slate-300">업데이트</th>
                        <th class="border border-slate-300">상태</th>
                        <th class="border border-slate-300">부가1</th>
                        <th class="border border-slate-300">부가2</th>
                        <th class="border border-slate-300">아이디정보</th>
                        <th class="border border-slate-300">프로필</th>
                    </tr>

                    <tr>
                        <td class="border border-slate-300"><input type="checkbox" name="" id=""></td>
                        <td class="border border-slate-300">1</td>
                        <td class="border border-slate-300">changyong112</td>
                        <td class="border border-slate-300">rkwkrh1e@e</td>
                        <td class="border border-slate-300"></td>
                        <td class="border border-slate-300"></td>
                        <td class="border border-slate-300"></td>
                        <td class="border border-slate-300"></td>
                        <td class="border border-slate-300"></td>
                        <td class="border border-slate-300">프로필</td>
                    </tr>

                    {% for id_list in get_all_id_list %}
                    <tr>
                        <td class="border border-slate-300"><input type="checkbox" name="" id="{{ id_list.n_idx }}"></td>
                        <td class="border border-slate-300">{{ id_list.n_ua }}</td>
                        <td class="border border-slate-300">{{ id_list.n_id }}</td>
                        <td class="border border-slate-300">{{ id_list.n_pwd }}</td>
                        <td class="border border-slate-300">{{ id_list.n_update }}</td>
                        <td class="border border-slate-300">{{ id_list.n_status }}</td>
                        <td class="border border-slate-300">{{ id_list.n_status }}</td>
                        <td class="border border-slate-300">{{ id_list.n_status }}</td>
                        <td class="border border-slate-300">{{ id_list.n_info }}</td>
                        <td class="border border-slate-300">{{ id_list.n_profile }}</td>
                    </tr>
                    {% endfor %}








                </table>
            </div>
        </div>
    </form>
</body>

</html>