<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

    <!-- 폰트어썸  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- main.css -->
    <link rel="stylesheet" href="/tailwind.css" />
    <link rel="stylesheet" href="/font.css" />
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        body {
            font-family: 'SUIT', sans-serif;
        }

        .form_modal {
            background-color: rgba(189, 189, 189, .50);
        }
    </style>
</head>

<body>



    <div class="container grid grid-cols-4 text-center mx-auto">
        <form action="/nwork" method="post"></form>
        <div class="pt-3  h-full">
            <div class="px-2">
                <textarea name="id_list" id="" rows="10" class="border border-gray-400 w-full"></textarea>
            </div>
            <div class="">
                <button name="btn_val" value="add_id"
                    class="bg-yellow-600 w-4/5 py-2 text-lg rounded-lg text-white font-bold">등록하기</button>
            </div>
            <div>
                {% if errCount %}
                <span>중복된 아이디 갯수 : {{ errCount }}</span>
                {% endif %}
            </div>
        </div>
        </form>
        <div class="border-l-2 border-stone-600 col-span-3 relative px-1">
            <div class="text-right py-4 px-12 fixed top-0 right-0 w-2/3 bg-white">
                <button type="button" name="ax_btn" value="delete"
                    class="ax_btn bg-red-700 py-1 text-white px-5 rounded-lg">삭제</button>
                <button type="button" name="ax_btn" value="update"
                    class="ax_btn bg-blue-600 text-white px-5 py-1 rounded-lg id_modify cursor-pointer">수정</button>
            </div>

            <table class="table-auto border-collapse w-full mx-auto mt-14 mb-20">
                <tr>
                    <th class="border border-slate-300">
                        <input type="checkbox" name="" id="">
                    </th>
                    <th class="border border-slate-300">UA</th>
                    <th class="border border-slate-300">아이디</th>
                    <th class="border border-slate-300">비밀번호</th>
                    <th class="border border-slate-300">업데이트</th>
                    <th class="border border-slate-300">상태</th>
                    <th class="border border-slate-300">부가1</th>
                    <th class="border border-slate-300">부가2</th>
                    <th class="border border-slate-300">아이디정보</th>
                    <th class="border border-slate-300">프로필</th>
                </tr>

                <tr>
                    <td class="border border-slate-300"><input type="checkbox" name="" id=""></td>
                    <td class="border border-slate-300">1</td>
                    <td class="border border-slate-300">changyong112</td>
                    <td class="border border-slate-300">rkwkrh1e@e</td>
                    <td class="border border-slate-300"></td>
                    <td class="border border-slate-300"></td>
                    <td class="border border-slate-300"></td>
                    <td class="border border-slate-300"></td>
                    <td class="border border-slate-300"></td>
                    <td class="border border-slate-300">프로필</td>
                </tr>

                {% for id_list in get_all_id_list %}
                <tr class="text-sm">
                    <td class="border border-slate-300"><input type="checkbox" name="chk_list" class="idchk" id=""
                            value="{{ id_list.n_idx }}"></td>

                    <td class="border border-slate-300">{{ id_list.n_ua }}</td>
                    <td class="border border-slate-300">{{ id_list.n_id }}</td>
                    <td class="border border-slate-300"><input type="text" name="n_pwd"
                            class="border border-gray-400 rounded-sm w-28" value="{{ id_list.n_pwd }}"></td>
                    <td class="border border-slate-300">
                        {% if id_list.n_update %}
                        <input type="text" name="n_update" class="border border-gray-400 rounded-sm w-28"
                            value="{{ id_list.n_update | date(" YY-MM-DD") }}">
                        {% else %}
                        <input type="text" name="n_update" class="border border-gray-400 rounded-sm w-28">
                        {% endif %}

                    </td>
                    <td class="border border-slate-300"><input type="text" name="n_status"
                            class="border border-gray-400 rounded-sm w-28" value="{{ id_list.n_status }}"></td>

                    <td class="border border-slate-300"><input type="text" name="n_temp1"
                            class="border border-gray-400 rounded-sm w-28" value="{{ id_list.n_temp1 }}"></td>
                    <td class="border border-slate-300"><input type="text" name="n_temp2"
                            class="border border-gray-400 rounded-sm w-28" value="{{ id_list.n_temp2 }}"></td>
                    <td class="border border-slate-300"><input type="text" name="n_info"
                            class="border border-gray-400 rounded-sm w-28" value="{{ id_list.n_info }}"></td>
                    <td class="border border-slate-300"><input type="text" name="n_profile"
                            class="border border-gray-400 rounded-sm w-28" value="{{ id_list.n_profile }}"></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>



    <script>
        $('.ax_btn').click(function (e) {
            if (this.value == 'update') {
                console.log('salfjalsjdf');
                const idChkList = document.querySelectorAll('.idchk');
                for (const chkId of idChkList) {
                    if (chkId.checked) {
                        const updateDataObj = {
                            n_idx: chkId.value,
                            n_pwd: chkId.parentNode.parentNode.children[3].firstElementChild.value,
                            n_update: chkId.parentNode.parentNode.children[4].firstElementChild.value,
                            n_status: chkId.parentNode.parentNode.children[5].firstElementChild.value,
                            n_temp1: chkId.parentNode.parentNode.children[6].firstElementChild.value,
                            n_temp2: chkId.parentNode.parentNode.children[7].firstElementChild.value,
                            n_info: chkId.parentNode.parentNode.children[8].firstElementChild.value,
                            n_profile: chkId.parentNode.parentNode.children[9].firstElementChild.value,
                        }
                        console.log(updateDataObj);

                        axios.post('/nwork/axios_work', { updateDataObj }).then((res) => {
                            console.log(res);
                        }).catch((err) => {
                            console.error(err);
                        })

                    }
                }
                location.reload()

            } else {
                const idChkList = document.querySelectorAll('.idchk');
                let delIdArr = [];
                for (const chkId of idChkList) {
                    if (chkId.checked) {
                        delIdArr.push(chkId.value)
                    }
                }


                if (delIdArr.length == 0) {
                    alert('선택된 아이디가 없습니다.')
                    return
                }


                const chkDel = confirm('삭제를 진행하시겠습니까?')
                if (!chkDel) {
                    return
                }


                axios.post('/nwork/axios_work', { delIdArr }).then((res) => {
                    console.log(res);
                }).catch((err) => {
                    console.error(err);
                })
            }
        })
    </script>
</body>


</html>