<div id="ft" >
    <div class="container mb-5">
      <div class="row">

        <div class="col-12 col-lg-4 ft_logo_in">
          <div class="ft_logo_img">
            <img src="/img/topby_base/logo.png" alt="">
          </div>
        </div>

        <div class="col-12 col-lg-8 mt-4">
          <!-- <span>통신판매업신고번호 : 부천 2021-4849494 </span> -->
          <span>개인정보 보호책임자 : 김연지 </span>
          <span>대표 : 박창현 </span>
          <span>회사명 : 다름기획 </span>
          <span>주소 : 서울시 구로구 부광로88 B동 1010호 </span>
          <span>사업자번호 : 240-06-01900 </span>
          <span>전화 : 1644-9714</span>
        </div>
        
      </div>
    </div>
  </div>