<!DOCTYPE html>

<html lang="ko">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>{{view_data.bl_subject}}</title>
    <meta name="title" content="{{view_data.bl_subject}}">
    <meta name="description" content="{{view_data.description}}">
    <link rel="icon" href="{{siteUrlOrigin}}/favicon.ico">
    <meta property="og:title" content="{{view_data.bl_subject}}">
    <meta property="og:url" content="{{siteUrl}}">
    <meta property="og:type" content="blog">
    <meta property="og:description" content="{{view_data.description}}">
    <meta property="og:image" content="{{view_data.main_img}}"> 
    <meta name="date" content="{{view_data.date_str}}">
    <meta property="article:published_time" content="{{view_data.date_time_str}}">
    <meta name="naver-site-verification" content="28132e9c935c914b3823c502418d6fcb424e1399" />




    <!-- SUIT 폰트 CSS -->
    <link href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet">
    <!-- 폰트어썸 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- 혹시 모르니 Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- front_lib -->
    <script src="/lib/front_lib.js"></script>

    <link href="/base_style.css" rel="stylesheet" />
    <link href="/tailwind.css" rel="stylesheet" />

    <!-- Include stylesheet -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

    <!-- Include the Quill library -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <style>
        .suit-font {
            font-family: 'SUIT';
        }
    </style>
</head>

