<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

    <!-- Swiper -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script> -->

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css'>

    <!-- 폰트어썸  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- main.css -->
    <link rel="stylesheet" href="/tailwind.css" />
    <link rel="stylesheet" href="/font.css" />

    <link rel="stylesheet" href="/set_swiper/set_swiper.css">

    <style>
        body {
            font-family: 'SUIT', sans-serif;
        }

        .form_modal {
            background-color: rgba(189, 189, 189, .50);
        }
    </style>

</head>

<body>


    <section class="flex w-5/6 lg:max-w-xl mx-auto mb-4">
        <div>
            <a href="/site/np">
                <img src="/temp/main_logo.jpg" alt="">
            </a>
        </div>
        <div>
            <a href="tel:1688-7683">
                <img src="/temp/main_ph.jpg" alt="">
            </a>
        </div>
    </section>

    <ul class="flex justify-between mx-auto font-semibold my-3 w-full text-sm px-8 lg:px-0 lg:max-w-3xl lg:text-xl">
        <li><a href="/site/pg1">입지환경</a></li>
        <li><a href="/site/pg2">조감도</a></li>
        <li><a href="/site/pg3">층별</a></li>
        <li><a href="/site/pg4">타입</a></li>
        <li><a href="/site/pg5">프리미엄</a></li>
        <li><a href="/site/pg6">커뮤니티</a></li>
    </ul>
    
    
    <div class="hidden fix_section fixed top-0 left-0 z-50 bg-white w-full">
        <section class="flex w-2/3 lg:max-w-sm mx-auto mb-2">
            <div>
                <a href="/site/np">
                    <img src="/temp/main_logo.jpg" alt="">
                </a>
            </div>
            <div>
                <a href="tel:1688-7683">
                    <img src="/temp/main_ph.jpg" alt="">
                </a>
            </div>
        </section>
    
        <ul class="flex justify-between mx-auto font-semibold my-3 w-full text-sm px-8 lg:px-0 lg:max-w-3xl lg:text-xl">
            <li><a href="/site/pg1">입지환경</a></li>
            <li><a href="/site/pg2">조감도</a></li>
            <li><a href="/site/pg3">층별</a></li>
            <li><a href="/site/pg4">타입</a></li>
            <li><a href="/site/pg5">프리미엄</a></li>
            <li><a href="/site/pg6">커뮤니티</a></li>
        </ul>
    </div>
    
    <script>
        document.addEventListener('scroll', function () {
            // console.log(document.documentElement.scrollTop);
            if (document.documentElement.scrollTop > 400) {
                console.log('보이게 하자!!');
                $('.fix_section').slideDown()
            } else {
                console.log('안보이게 하자!!');
                $('.fix_section').slideUp()
            }
        });
    </script>