{% include 'mini_site/header.html' %}

<section class="w-full max-w-7xl mx-auto px-1">
    <div>
        <img src="/temp/danji1.jpg" class="mx-auto" alt="">
    </div>
</section>

<section class="w-full max-w-7xl mx-auto px-1">
    <div>
        <img src="/temp/danji2.jpg" class="mx-auto" alt="">
    </div>
</section>

<section class="w-full max-w-7xl mx-auto px-1">
    <div>
        <img src="/temp/danji3.jpg" class="mx-auto" alt="">
    </div>
</section>

<section class="w-full max-w-7xl mx-auto px-1">
    <div>
        <img src="/temp/danji4.jpg" class="mx-auto" alt="">
    </div>
</section>

{% include 'mini_site/footer.html' %}