{% include 'mini_site/header.html' %}

<section class="w-full max-w-6xl mx-auto px-1">
    <div>
        <img src="/temp/premium_img.jpg" class="mx-auto" alt="">
    </div>
</section>

<section class="w-full max-w-6xl mx-auto px-1">
    <div>
        <img src="/temp/special_img.jpg" class="mx-auto" alt="">
    </div>
</section>

<section class="w-full max-w-6xl mx-auto px-1">
    <div>
        <img src="/temp/tax_img.jpg" class="mx-auto" alt="">
    </div>
</section>

{% include 'mini_site/footer.html' %}