{% extends "topby/topby_base.html" %}

{% block topby_content %}

<div class="px-1 hidden md:block">
    <div class="relative bg-black">
        <div class="absolute" style="top: 180px; z-index: 10;">
            <img src="/renewal_1/pc/main1_img.png" alt="" class="mx-auto">
        </div>


        <div class="">
            <img src="/renewal_1/pc/main_move_top.webp" alt="" class="mr-auto">
        </div>

        <div class="py-24">

        </div>

        <div>
            <img src="/renewal_1/pc/main_move_bottom.webp" alt="" class="ml-auto mt-20">
        </div>
    </div>


    <img src="/renewal_1/pc/img_2.webp" alt="" class="mx-auto">
    <img src="/renewal_1/pc/img_3.jpg" alt="" class="mx-auto">

    <div class="containers">
        <img src="/renewal_1/pc/img_4.jpg" id="image1" alt="" class="mx-auto">
        <div id="videoWrapper1" class="video-wrapper text-white border border-white">
            <video autoplay loop muted>
                <source src="/renewal_1/introduce_company.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>

    <div class="containers">
        <img src="/renewal_1/pc/img_5.jpg" id="image2" alt="" class="mx-auto">
        <div id="videoWrapper2" class="video-wrapper text-white border border-white">
            <video autoplay loop muted>
                <source src="/renewal_1/introduce_company2.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>

    <div class="pc_swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <img src="/renewal_1/swipe_katalk/kakao_1.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="/renewal_1/swipe_katalk/kakao_2.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="/renewal_1/swipe_katalk/kakao_3.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="/renewal_1/swipe_katalk/kakao_4.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="/renewal_1/swipe_katalk/kakao_5.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="/renewal_1/swipe_katalk/kakao_6.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="/renewal_1/swipe_katalk/kakao_7.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="/renewal_1/swipe_katalk/kakao_8.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="/renewal_1/swipe_katalk/kakao_9.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="/renewal_1/swipe_katalk/kakao_10.jpg" alt="">
            </div>
        </div>
    </div>

    <img src="/renewal_1/pc/img_6.jpg" alt="" class="mx-auto">
    <img src="/renewal_1/pc/img_7.jpg" alt="" class="mx-auto">
</div>



<div class="px-1 blodk md:hidden">
    <div class="bg-black">
        <img src="/renewal_1/m/main_move_top.webp" alt="" class="mr-auto">
        <img src="/renewal_1/m/main1_img.jpg" alt="" class="mx-auto">
        <img src="/renewal_1/m/main_move_bottom.webp" alt="" class="ml-auto mt-20">
    </div>


    <img src="/renewal_1/m/img_2.webp" alt="" class="mx-auto">
    <img src="/renewal_1/m/img_3.jpg" alt="" class="mx-auto">

    <div class="containers">
        <img src="/renewal_1/m/img_4.jpg" id="m_image1" alt="" class="mx-auto">
        <div id="videoWrapper_m_1" class="video-wrapper text-white border border-white">
            <video autoplay loop muted>
                <source src="/renewal_1/introduce_company.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>

    <div class="containers">
        <img src="/renewal_1/m/img_5.jpg" id="m_image2" alt="" class="mx-auto">
        <div id="videoWrapper_m_2" class="video-wrapper text-white border border-white">
            <video autoplay loop muted>
                <source src="/renewal_1/introduce_company2.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>

    <div class="m_swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <img src="/renewal_1/swipe_katalk/kakao_1.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="/renewal_1/swipe_katalk/kakao_2.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="/renewal_1/swipe_katalk/kakao_3.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="/renewal_1/swipe_katalk/kakao_4.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="/renewal_1/swipe_katalk/kakao_5.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="/renewal_1/swipe_katalk/kakao_6.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="/renewal_1/swipe_katalk/kakao_7.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="/renewal_1/swipe_katalk/kakao_8.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="/renewal_1/swipe_katalk/kakao_9.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="/renewal_1/swipe_katalk/kakao_10.jpg" alt="">
            </div>
        </div>
    </div>
    <img src="/renewal_1/m/img_6.jpg" alt="" class="mx-auto">
    <img src="/renewal_1/m/img_7.jpg" alt="" class="mx-auto">





</div>

<div id="ft">
    <div class="container mb-5">
        <div class="row">

            <div class="col-12 col-lg-4 ft_logo_in flex justify-center items-center">
                <div class="ft_logo_img">
                    <img src="/img/topby_base/logo.png" alt="">
                </div>
            </div>

            <div class="col-12 col-lg-8">
                <div class="suit_font text-center mt-5 text-xs md:text-base">
                    {% if footer_info.fs_personal_officer %}
                    <span class="inline-block mr-4">개인정보책임자 : {{footer_info.fs_personal_officer}}</span>
                    {% endif %}

                    {% if footer_info.fs_owner %}
                    <span class="inline-block mr-4">대표 : {{footer_info.fs_owner}}</span>
                    {% endif %}

                    {% if footer_info.fs_company %}
                    <span class="inline-block mr-4">회사명 : {{footer_info.fs_company}}</span>
                    {% endif %}

                    {% if footer_info.fs_address %}
                    <span class="inline-block mr-4">주소 : {{footer_info.fs_address}}</span>
                    {% endif %}

                    {% if footer_info.fs_email %}
                    <span class="inline-block mr-4">이메일 : {{footer_info.fs_email}}</span>
                    {% endif %}

                    {% if footer_info.fs_business_num %}
                    <span class="inline-block mr-4">사업자번호 : {{footer_info.fs_business_num}}</span>
                    {% endif %}

                    {% if footer_info.fs_callnumber %}
                    <span class="inline-block mr-4">전화 : {{footer_info.fs_callnumber}}</span>
                    {% endif %}

                    {% if footer_info.fs_report_number %}
                    <span class="inline-block mr-4">통신판매업신고번호 : {{footer_info.fs_report_number}}</span>
                    {% endif %}
                </div>

                <div>
                    {% if userInfo.user.rate > 3 %}
                    <span><a class="nav-link" href="/crm">CRM 바로가기</a></span>
                    {% else %}
                    <span><a class="nav-link" href="/crm/estate_manager">CRM 바로가기</a></span>
                    {% endif %}
                </div>


            </div>

        </div>
    </div>
</div>




<script>

    const swiperMobile = new Swiper('.m_swiper', {
        // Optional parameters
        autoHeight: true,
        loop: true,
        slidesPerView: 2,
        spaceBetween: 10,
        autoplay: {
            delay: 1500,
            disableOnInteraction: false,
        },

    });

    const swiperPc = new Swiper('.pc_swiper', {
        // Optional parameters
        autoHeight: true,
        loop: true,
        slidesPerView: 4,
        spaceBetween: 20,
        autoplay: {
            delay: 1500,
            disableOnInteraction: false,
        },

    });


    window.addEventListener('resize', function () {
        var pc_image1 = document.getElementById('image1');
        var videoWrapper1 = document.getElementById('videoWrapper1');

        var pc_image2 = document.getElementById('image2');
        var videoWrapper2 = document.getElementById('videoWrapper2');

        positionPcVideo(pc_image1, videoWrapper1);
        positionPcVideo(pc_image2, videoWrapper2);



        const m_image1 = document.getElementById('m_image1');
        const videoWrapper_m_1 = document.getElementById('videoWrapper_m_1');
        positionMobileVideo1(m_image1, videoWrapper_m_1)

        const m_image2 = document.getElementById('m_image2');
        const videoWrapper_m_2 = document.getElementById('videoWrapper_m_2');
        positionMobileVideo2(m_image2, videoWrapper_m_2)
    });

    window.onload = function () {
        var pc_image1 = document.getElementById('image1');
        var videoWrapper1 = document.getElementById('videoWrapper1');

        var pc_image2 = document.getElementById('image2');
        var videoWrapper2 = document.getElementById('videoWrapper2');

        pc_image1.onload = positionPcVideo(pc_image1, videoWrapper1);
        
        pc_image2.onload = positionPcVideo(pc_image2, videoWrapper2);


        const m_image1 = document.getElementById('m_image1');
        const videoWrapper_m_1 = document.getElementById('videoWrapper_m_1');
        positionMobileVideo1(m_image1, videoWrapper_m_1)

        const m_image2 = document.getElementById('m_image2');
        const videoWrapper_m_2 = document.getElementById('videoWrapper_m_2');
        positionMobileVideo2(m_image2, videoWrapper_m_2)



    }

    // 이미지의 크기를 계산하여 동영상 위치 설정
    function positionPcVideo(pc_img, videoWrapper) {
        var rect1 = pc_img.getBoundingClientRect();
        // 두 이미지 사이의 중간 위치를 계산
        var coordY = rect1.height / 4.65;
        var coordX = rect1.width / 2.125;
        var videoWidth = rect1.width / 2.352;


        // 동영상의 위치를 설정
        videoWrapper.style.top = coordY + 'px';
        videoWrapper.style.left = coordX + 'px';
        videoWrapper.style.width = videoWidth + 'px';
        videoWrapper.style.display = 'block';
    }

    function positionMobileVideo1(mobile_img, videoWrapper) {
        var rect1 = mobile_img.getBoundingClientRect();
        console.log(rect1);
        console.log(rect1.height);

        // 두 이미지 사이의 중간 위치를 계산
        var coordY = rect1.height / 14.05;
        var coordX = rect1.width / 3.42;
        var videoWidth = rect1.width / 1.573;


        // 동영상의 위치를 설정
        videoWrapper.style.top = coordY + 'px';
        videoWrapper.style.left = coordX + 'px';
        videoWrapper.style.width = videoWidth + 'px';
        videoWrapper.style.display = 'block';
    }

    function positionMobileVideo2(mobile_img, videoWrapper) {
        var rect1 = mobile_img.getBoundingClientRect();
        console.log(rect1);
        console.log(rect1.height);

        // 두 이미지 사이의 중간 위치를 계산
        var coordY = rect1.height / 10.24;
        var coordX = rect1.width / 3.354;
        var videoWidth = rect1.width / 1.563;


        // 동영상의 위치를 설정
        videoWrapper.style.top = coordY + 'px';
        videoWrapper.style.left = coordX + 'px';
        videoWrapper.style.width = videoWidth + 'px';
        videoWrapper.style.display = 'block';
    }

    tailwind.config = {
        theme: {
            extend: {
                colors: {
                    clifford: '#da373d',
                }
            }
        }
    }
</script>




<style>
    .m_swiper {
        padding: 10px 0 10px 0;
    }

    .pc_swiper {
        padding: 30px 0 30px 0;
    }

    .containers {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image {
        width: 100%;
        max-width: 600px;
    }

    .video-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        /* display: none; */
        /* Initially hidden */
    }

    .video-wrapper video {
        width: 100%;
        height: auto;
    }
</style>


{% endblock %}